
  
  body {
    margin: 0%;
  }

  /* Style the header */
.hearder {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #10a8b3;
  text-align: center;
}
/* Style the topnav menu */
.topnav a {
  float:left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*Card */
.card {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
  float: left;
  padding: 10px;
  margin: 21px;
  height: 200px;
  
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 12px;

}
.button {
  position: absolute;
  background-color: #00c3ff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

